﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="CreateClass.aspx.cs" Inherits="LINQtoObject.WebForm2" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
                    <asp:Button ID="btnCreateList" runat="server" Text="Tạo danh sách" OnClick="btnCreateList_Click"/>
                <br />
        <br />
                    <asp:ListBox ID="lbxSource" runat="server" Height="520px" Width="266px"></asp:ListBox>
    
    </div>
    </form>
</body>
</html>
